<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=yes, initial-scale=1">
    <meta name="description" content="The personal website of Michael Brockman">
    <meta name="author" content="Michael Brockman">

   <link rel= "stylesheet" type= "text/css" href= "../static/css/header.css">

    <title>Michael's Site | {{ title }}</title>

    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->
    <link href="../static/css/sidebar.css" rel="stylesheet">


</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Home
                    </a>
                </li>
	  {% for page in list_of_pages %}
    <li>
		  <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
		</li>
		   {% else %}
		      <li>No stuff.</li>
		   {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <h1>Michael Brockman</h1>
		      <h2>A Jack of All Trades</h>
                      {% block content %}<p>hello</p>{% endblock content %}
		    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</body>
</html>
